<h1>Add a new album</h1>
<form action="/albums" method="post">
  <div class="form-group">
    <input id="n" name="album_name" class="form-control" type="text" placeholder="Album Name">
    <br>
    <input id="a" name="album_artist" class="form-control" type="text" placeholder="Artist">
    <br>
    <input id="y" name="album_year" class="form-control" type="text" placeholder="Year">
    <br>
    <input id="g" name="album_genre" class="form-control" type="text" placeholder="Genre">
  </div>
  <button type="submit" class="btn btn-dark">Go!</button>
</form>

